<div class="container p-4">
    <div class="row">

        <div class="card bg-primary">
            <div class="card-header filas2 ">
                <h1>  Top de puntuaciones: </h1> 
            </div>     
         </div>

        <ul class="list-group ">
             <li class="list-group-item bg-success">1. Usuario: Pablo <!--{{jugador1.user}}-->, número de partida: {{jugador1.id}}, PUNTOS: {{jugador1.points}}</li>
             <li class="list-group-item bg-warning">2. Usuario: Juan<!--{{jugador2.user}}-->, número de partida: {{jugador2.id}}, PUNTOS: {{jugador2.points}}</li>
             <li class="list-group-item bg-success">3. Usuario: María<!--{{jugador3.user}}-->, número de partida: {{jugador3.id}}, PUNTOS: {{jugador3.points}}</li>
             <li class="list-group-item bg-warning">4. Usuario: Alejandro<!--{{jugador4.user}}-->, número de partida: {{jugador4.id}}, PUNTOS: {{jugador4.points}}</li>
             <li class="list-group-item bg-success">5. Usuario: Laura<!--{{jugador5.user}}-->, número de partida: {{jugador5.id}}, PUNTOS: {{jugador5.points}}</li>
            <!-- 
            <li class="list-group-item">6 Dapibus ac facilisis in</li>
             <li class="list-group-item">7 Dapibus ac facilisis in</li>
             <li class="list-group-item">8 Dapibus ac facilisis in</li>
             <li class="list-group-item">9 Dapibus ac facilisis in</li>
             <li class="list-group-item">10 Dapibus ac facilisis in</li>
            {{#each games}}
                <li class"list-group-item">Usuario: {{user_id}}, Identificador de la partida: {{id}}, Puntos: {{points}} </li>

            {{/each}}
            -->  
        </ul>
    </div>
</div>