<div class="container p-4">
    <div class="row">

        <div class="card c1">
            <div class="card-header filas2 centro c1">
                <h1>  Top de puntuaciones </h1> 
            </div>     
         </div>

        <table class="default">
            <tr>
                <th>Puesto</td>
                <th>Usuario</td>
                <th>Número de partida</td>
                <th>Puntos</td>
            </tr>
            <tr>
                <th class="negrita">1</td>
                <td>{{jugador1.name}}</td>
                <td>{{jugador1.id}}</td>
                <td>{{jugador1.points}}</td>
            </tr>
            <tr>
                <th class="negrita">2</td>
                <td>{{jugador2.name}}</td>
                <td>{{jugador2.id}}</td>
                <td>{{jugador2.points}}</td>
            </tr>
            <tr>
                <th class="negrita">3</td>
                <td>{{jugador3.name}}</td>
                <td>{{jugador3.id}}</td>
                <td>{{jugador3.points}}</td>
            </tr>
            <tr>
                <th class="negrita">4</td>
                <td>{{jugador4.name}}</td>
                <td>{{jugador4.id}}</td>
                <td>{{jugador4.points}}</td>
            </tr>
            <tr>
                <th class="negrita">5</td>
                <td>{{jugador5.name}}</td>
                <td>{{jugador5.id}}</td>
                <td>{{jugador5.points}}</td>
            </tr>
            <tr>
                <th class="negrita">6</td>
                <td>{{jugador6.name}}</td>
                <td>{{jugador6.id}}</td>
                <td>{{jugador6.points}}</td>
            </tr>
            <tr>
                <th class="negrita">7</td>
                <td>{{jugador7.name}}</td>
                <td>{{jugador7.id}}</td>
                <td>{{jugador7.points}}</td>
            </tr>
            <tr>
                <th class="negrita">8</td>
                <td>{{jugador8.name}}</td>
                <td>{{jugador8.id}}</td>
                <td>{{jugador8.points}}</td>
            </tr>
            <tr>
                <th class="negrita">9</td>
                <td>{{jugador9.name}}</td>
                <td>{{jugador9.id}}</td>
                <td>{{jugador9.points}}</td>
            </tr>
            <tr>
                <th class="negrita">10</td>
                <td>{{jugador10.name}}</td>
                <td>{{jugador10.id}}</td>
                <td>{{jugador10.points}}</td>
            </tr>
        </table>
    </div>
</div>